*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #131516;
    /* color: #fff; */
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --text-color: #fff;
    --main-color: #29fd53;
}
header{
    min-height: 100vh;
    background-color: #131516;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 28px 12%;
    transition: all .50s ease;
    background: transparent;

}
.logo{
    /* display: flex; */
    /* align-items: center;    */
}
.logo i{
    color: #29fd53;
    font-size: 28px;
    margin-right: 3px;
}
.logo span{
    color: #fff;
    font-size: 1.7rem;
    font-weight: 600;
}
.navbar{
    display: flex;
}
.navbar a{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 200;
    padding: 5px 0;
    margin: 0px 20px
}
.navbar a:hover{
    color: #29fd53;

}
.navbar a.active{
    color: #29fd53;
}

/* .menu{
    display: flex;
    /* align-items: center; */
/* } */
/* 
.menu 

#menu-icon{
    font-size: 35px;
    color: #29fd53;
    cursor: pointer;
    z-index: 10001;
} */ 


@media (max-width: 1280px) {
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}

/* @media (max-width: 1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background-color: #29fd53;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50 ease;

    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50 ease;
    }
    .navbar a:hover{
        color: #fff;
        transform: translateY(5px);

    }
    .navbar a.active{
        color: #fff;

    }
    .navbar.open{
        right: 2%;
    }
} */